html,
body,
#root {
  margin: 0;
  height: 100%;
}

.table {
  background-color: aliceblue;
  display: block;
  overflow: auto;
  max-height: 500px;
  height: 500px;
}

.thead {
  background-color: green;
  position: sticky;
  top: 0;
}

.tr {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
}
