.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
